<div class="barra-superior"></div>
<div class="main-header">
  <div class="logo logo-61"> <img src="./assets/img/escudo_61_anios.png" alt=""> </div>
  <!-- <div class="logo1"> </div> -->
  <div class="main-logo">
    <h1>UNIVERSIDAD DE <span>PAMPLONA</span></h1>
    <P>Formando lideres para la construccion de un nuevo<br> país en paz</P>
  </div>
  <div class="contenedor-logo">
    <div class="logo logo-acreditacion"> <img src="./assets/img/logo_acreditacion.png" alt=""> </div>
    <div class="logo logo-colombia"> <img src="./assets/img/logo-colombia.png" height="135px" alt=""> </div>
  </div>
</div>

