.formulario{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0px 25px;
}

.formulario input{
  margin: 10px 0px;
  height: 37px;
  font-size: 20px;
}
.pass-forget{
  text-decoration: none;
  color: #AD3333;
  align-self: flex-end;
  margin: 20px 0px;
  font-weight: 600;
}
.btn-submit{
  background-color: #d81b1b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 0px;
  border-radius: 5px;
}
.rol{
  margin: 0px 0px 20px 0px;
}
.rol .btn{
  width: 50%;
  background-color: #f2f2f2;
  border-radius: 0;
  padding: 5px 0px;
  text-transform: uppercase;
  border: none;
}
.rol .btn-activated{
  width: 50%;
  background-color: #fff;
  border: solid 1px rgba(102, 102, 102, 0.54);
}
// input[type=radio]{
//   display: none;
// }


