<form class="formulario" (ngSubmit)="onSubmit()" [formGroup]="userForm">

  <input 
    type="text" 
    name="name" 
    class="input-field" 
    placeholder="Nombre" 
    required
    formControlName="name"  
    >
  <input 
    type="text" 
    name="email" 
    class="input-field" 
    placeholder="Correo"
    required
    formControlName="email"   
    autocomplete="nope"
    >
  <input 
    type="password" 
    name="password" 
    class="input-field" 
    placeholder="Contraseña" 
    required
    formControlName="password" 
    autocomplete="nope" 
    >

  <div class="rol">
    <div>
        <input 
        id="rolDocente" 
        type="radio" 
        name="roles"
        formControlName="roles"  
        value="docente"
        >
        <label for="rolDocente">Docente</label>
    </div>
    <div>
        <input 
        id="rolAuxiliar" 
        type="radio" 
        name="roles" 
        formControlName="roles" 
        value="auxiliar"
        >
        <label for="rolAuxiliar">Auxiliar</label>
    </div>
  </div>
  <button type="submit" class="btn-submit" [disabled]="userForm.invalid">Regístrate</button>
</form>
