<div class="menu-agendar">
    <img src="./assets/img/calendario1.png" width="120px" alt="">
    <h1> AGENDAR <span>VIDEO BEAMS</span></h1>
</div>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Numero de registro</mat-label>
      <input class="altura" matInput disabled value="Numero de registro">
    </mat-form-field>

    <p >
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input class="altura" matInput disabled value="Usuario">
          </mat-form-field>
    </p>
  
    <table class="example-full-width">
        <tr>
            <td>
                <mat-form-field class="example-full-width2" appearance="fill">
                    <mat-label>Video Beams</mat-label>
                    <mat-select class="altura">
                    <mat-option value="option1">Video Beam 1</mat-option>
                    <mat-option value="option2">Video Beam 2</mat-option>
                    <mat-option value="option3">Video Beam 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            
            <td>
                <mat-form-field class="example-full-width2" appearance="fill">
                    <mat-label>Escoge el dia</mat-label>
                    <mat-select class="altura">
                    <mat-option value="option1">Lunes 1</mat-option>
                    <mat-option value="option2">Martes 2</mat-option>
                    <mat-option value="option3">Miercoles 3</mat-option>
                    </mat-select>
                </mat-form-field>                
            </td>
            <td>
                <mat-form-field class="example-full-width2" appearance="fill">
                    <mat-label>Horas</mat-label>
                    <mat-select class="altura">
                        <mat-option value="option1">6:00 - 8:00</mat-option>
                        <mat-option value="option2">8:00 - 10:00</mat-option>
                        <mat-option value="option3">10:00 - 12:00</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        
        </tr>
    </table>


    <div class="botones">
        <button>Guardar</button>
    </div>

</form>

