.input-field{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.content-input{
    position: relative;
    margin-top: 12px;
}