<div class="menu-agendar">
    <img src="./assets/img/calendario1.png" width="120px" alt="">
    <h1> AGENDAR <span>VIDEO BEAMS</span></h1>
</div>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Numero de registro</mat-label>
      <input class="altura" matInput disabled value="Numero de registro">
    </mat-form-field>

    <p >
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input class="altura" matInput disabled value="Usuario">
          </mat-form-field>
    </p>
  
    <table class="example-full-width">
        <tr>
            <td>
                <mat-form-field class="example-full-width2" appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select class="altura">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            
            <td>
                <mat-form-field class="example-full-width2" appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select class="altura">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width2" appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select class="altura">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        
        </tr>
    </table>


    <div class="botones">
        <button>Guardar</button>
    </div>

</form>

