.loginbox{
  border: solid 2px #f2f2f2;
  width: 400px;
  // height: 560px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}
.loginbox .img{
  width: 100%;
  display: flex;
  justify-content: center;
  // background-color: #f2f2f2;
}
.loginbox .img img{
  width: 125px;
  margin-top: -50px;
}

.loginbox .botones{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.loginbox .botones .btn{
  width: 50%;
  background-color: #f2f2f2;
  border-radius: 0;
}

.loginbox .botones .btn-activated{
  width: 50%;
  background-color: #fff;
  border: solid 1px rgba(102, 102, 102, 0.54);
}
