<div class="loginbox">
    <div class="img">
      <img src="./assets/img/profile.svg" class="avatar">
    </div>
    <div class="botones">
      <button class="btn">REGISTRARSE</button>
      <button class="btn btn-activated">INICIAR SESIÓN</button>
    </div>
    <form class="formulario">
        <input type="email" class="input-field" placeholder="Correo" >
		    <input type="password" class="input-field" placeholder="Contraseña" >
        <a class="pass-forget" routerLink="">¿Olvidate tu contraseña?</a>
        <button routerLink="/home" type="submit" class="btn-submit">Iniciar Sesión</button><br>
    </form>
</div>
