

.formulario{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0px 25px;
}

.formulario input{
  margin: 10px 0px;
  height: 37px;
  font-size: 20px;
}
.pass-forget{
  text-decoration: none;
  color: #AD3333;
  align-self: flex-end;
  margin: 20px 0px;
  font-weight: 600;
}
.btn-submit{
  background-color: #d81b1b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 0px;
  border-radius: 10px;
}
