

<table class="table-fill">
  <thead>
    <tr>
      <th class="table-left">Foto de perfil</th>
      <th class="table-left">Numero de registro</th>
      <th class="table-left">Usuario</th>
      <th class="table-left">Video Beam</th>
      <th class="table-left">Fecha</th>
      <th class="table-left">Hora</th>
      <th class="table-left">Opciones</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <tr>
      <td class="text-left"><img src="./assets/img/boy3.png" width="100px" alt=""></td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">
        <button class="btn">Eliminar</button>
      </td>
    </tr>
    <tr>
      <td class="text-left"><img src="./assets/img/boy3.png" width="100px" alt=""></td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">
        <button class="btn">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>