<!--
<table class="table container mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Referencia</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Opción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of items, let index = index">
        <th scope="row">{{ index + 1 }}</th>
        <td>Mark</td>
        <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid suscipit eaque, rem ullam atque doloribus veniam cumque consequatur quibusdam voluptates totam quidem saepe dolores nisi officiis fugit obcaecati. Voluptatem, voluptates.</p></td>
        <td><a routerLink="/home/agendar/{{index}}" class="btn btn-primary">Agendar</a></td>
      </tr>
    </tbody>
</table>
-->

<table class="table-fill">
  <thead>
    <tr>
      <th class="table-left">#</th>
      <th class="table-left">Referencia</th>
      <th class="table-left">Descripción</th>
      <th class="table-left">Opción</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <tr>
      <td class="text-left">1</td>
      <td class="text-left">AA65390</td>
      <td class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus deserunt cum saepe tenetur hic velit quis quo ducimus cupiditate dolore. Velit illo non nihil adipisci quos accusantium. Rem, dolore eligendi?</td>
      <td class="text-left"><button class="btn">Agendar</button></td>
    </tr>
    <tr>
      <td class="text-left">2</td>
      <td class="text-left">BB65390</td>
      <td class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus deserunt cum saepe tenetur hic velit quis quo ducimus cupiditate dolore. Velit illo non nihil adipisci quos accusantium. Rem, dolore eligendi?</td>
      <td class="text-left"><button class="btn">Agendar</button></td>
    </tr>
  </tbody>
</table>