
.main-bar{
    background-color: #ad3333;
    display: flex;
    justify-content: space-between;
    
}
.fondo-azul{
    position: absolute;
    border-right: 70px solid transparent;
    border-bottom: 100px solid #003366;
}
.logo-header{
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #003366;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 380px;
    height: 68px;
    position: relative;
    z-index: 9;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.logo-header:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: -50px;
    width: 80%;
    transform: skew(30deg);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 10%;
    background-color: #003366;
}
.logo-header:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: 10%;
    width: 2000px;
    background: #003366;
}

.logo-header a{
    color: #DADADA;
    font-size: 25px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
}
ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    border-radius: 14px;
}
nav li.active a{
    color: #003366;
    background-color: #fddb0d;
    border-radius: 14px;
}
nav li a{
    padding: 15px 25px;
    border: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 14px;
}
nav li:hover a{
    color: #020101;
    background-color: #fddb0d;
    border-radius: 14px;
}
