<div class="contenedor">
    <nav class="main-bar">
                <div class="logo-header">
                    <img src="./assets/img/escudo_61_anios.png" width="100px" alt="">
                    <a href="">UNIPAMPLONA</a>
                </div>
            <ul class="ocultarmenu">
                <li routerLinkActive="active">
                    <a routerLink="/home/inicio">Home</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/home/agendar">Agendar</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/home/agendas">Mis agendas</a>
                </li>
                <li routerLinkActive="active">
                    <img src="./assets/img/boy3.png" width="100px" alt="">
                </li>
            </ul>
    </nav>
</div>

<!-- <div class="barra-superior"></div>
<div class="main-header">
  <div class="logo logo-61"> <img src="./assets/img/escudo_61_anios.png" alt=""> </div>
  <div class="main-logo">
    <h1>UNIVERSIDAD DE <span>PAMPLONA</span></h1>
    <P>Formando lideres para la construccion de un nuevo<br> país en paz</P>
  </div>
  <div class="contenedor-logo">
    <div class="logo logo-acreditacion"> <img src="./assets/img/logo_acreditacion.png" alt=""> </div>
    <div class="logo logo-colombia"> <img src="./assets/img/logo-colombia.png" height="135px" alt=""> </div>
  </div>
</div> -->