<div class="contenedor">
    
    <nav class="main-bar">
                <!-- <div class="poligon"></div> -->
                <div class="logo-header">
                    <div class="contenedor-logo">
                        <div class="img_upa">
                            <img src="./assets/img/escudo_61_anios.png" alt="">
                        </div>
                        <div class="etiqueta_upa">
                            <a href="">UNIPAMPLONA</a>
                        </div>
                    </div>
                </div>
                <div class="contenedor-ul">
                  <ul class="ocultarmenu">
                    <li routerLinkActive="active">
                        <a class="enlace-nav" routerLink="/home/inicio">INICIO</a>
                    </li>
                    <li routerLinkActive="active">
                        <a class="enlace-nav" routerLink="/home/agendar">CERRAR SESIÓN</a>
                    </li>
                    
                    <li routerLinkActive="active">
                        <img src="./assets/img/boy3.png" alt="">
                    </li>
                </ul>
                </div>
  </nav>
</div>
<div class="menuOpciones">
    <button class="btn_icono" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon  class="icono_more">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>app_registration</mat-icon>
          <a  routerLink="/home/agendar-form"><span>Agendar VB</span></a>
        </button>
        <button mat-menu-item>
          <mat-icon>checklist</mat-icon>
          <span>Lista de agenda de VB</span>
        </button>
        <button mat-menu-item>
          <mat-icon>calendar_month</mat-icon>
          <span>Calendario</span>
        </button>
      </mat-menu>
    
</div>
