.footer{
  background-color: #AD3333;
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.footer .info{

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .info p{
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.footer .logo{
  margin-left: 40%;
}


